@(message: String,user:UserData) @template(title = "Lazy Portfolio Tracker",user) { @if(!user.loggedIn){
<div class="container">
    <h2>please login to edit your portolio</h2> @message
</div>
}else{
<script src='@routes.Assets.versioned("javascripts/portfolioEdit.js")' type="text/javascript"></script>
<div ng-app="portfolioEdit" class="container">
    <h2>Lazy Portfolio Tracker - Edit your portfolio @message</h2>
    <div ng-controller="portfolioEditController as portfolio">
        <hr>
        <h2>{{portfolio.name}}</h2>
        <button type="button" class="btn btn-primary" ng-click="portfolio.newrecord.isCollapsed = !portfolio.newrecord.isCollapsed">
            new recording
        </button>
        <div uib-collapse="portfolio.newrecord.isCollapsed">
            <div class="well well-lg">
                <!--<p class="form-group">-->
                <form ng-submit="portfolio.addRecording()">
                    <label>Date:</label>
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="portfolio.newrecord.date" />
                    <input class="btn-primary" type="submit" value="add">
                </form>
                <!--</p>-->
            </div>
        </div>
        <br/> history of recordings:
        <ul class="list-unstyled">
            <li ng-repeat="recording in portfolio.recordings | orderBy:'-date'">
                <button type="button" class="btn" ng-click="recording.isCollapsed = !recording.isCollapsed">
                    {{recording.date.toLocaleDateString()}}
                </button>
                <p/>
                <div uib-collapse="recording.isCollapsed">
                    <div class="well well-lg">recorded on: {{recording.date.toLocaleDateString()}} recorded accounts
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
} }
