@(email:String,loggedIn: Boolean)
<!-- Actions -->
<section>
	
	@if(loggedIn){
	<ul class="actions vertical">
		<li><a href="/user" class="button big fit">@email</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="/logout?url=/" class="button big fit">logout</a></li>
	</ul>
	}else{
	<ul class="actions vertical">
		<li><a href="/facebook" class="fit"><img src="@routes.Assets.versioned("images/fb.png")" alt="" /></a></li>
	</ul>
	
	<ul class="actions vertical">
		<li><a href="/google" class="fit"><img src="@routes.Assets.versioned("images/fb.png")" alt="" /></a></li>
	</ul>
	}
</section>
<!-- Links -->
<section>
	<ul class="links">
		<li><a href="#">
				<h3>My Portfolio</h3>
				<p></p>
		</a></li>
		<li><a href="#">
				<h3>account1</h3>

		</a></li> 



	</ul>
</section>