@(title: String, userName:String,loggedIn:Boolean)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <!--[if lte IE 8]><script src="@routes.Assets.versioned("javascripts/ie/html5shiv.js")" type="text/javascript"></script><![endif]-->                
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
				
		<!--[if lte IE 9]><link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/ie9.css")"><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/ie8.css")"><![endif]-->
               
        <meta name="viewport" content="width=device-width, initial-scale=1" />		
    </head>
    <body>     
   
        
        		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">Lazy Portfolio Tracker</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">link1</a></li>
								<li><a href="#">link2</a></li>								
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
						<section>
							<form class="search" method="get" action="#">
								<input type="text" name="query" placeholder="Search" />
							</form>
						</section>
						
						@links(userName,loggedIn)
						

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Keep track of your investements</a></h2>
										<p>Everywhere on the world</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">December 4, 2015</time>
										<a href="#" class="author"><span class="name">Peter Mandy</span><img src="@routes.Assets.versioned("images/avatar.jpg")" alt="" /></a>
									</div>
								</header>
								<a href="#" class="image featured"><img src="@routes.Assets.versioned("images/investment-plan.jpg")" alt="" /></a>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								</footer>
							</article>

						

						

					
						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="@routes.Assets.versioned("images/logo.jpg")" alt="" /></a>
								<header>
									<h2>Portfolio tracker</h2>
									<p>Invest. Track. Grow.</p>
								</header>
							</section>

						
						
						

						<!-- Posts List -->
							<section>
								<ul class="posts">
									<li>
										<article>
							
												</article>
									</li>
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>Portfolio tracker is an application that can help you track your international investments</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			
			<script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
			
			<script src="@routes.Assets.versioned("javascripts/skel.min.js")" type="text/javascript"></script>
			
			<script src="@routes.Assets.versioned("javascripts/util.js")" type="text/javascript"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        	<script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        
        
    </body>
</html>
