<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
   
  </head>
  
  <body>
    <div>
      	{{test}}
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <input ng-model="name"> Hello {{ name }}  
    </div>
    
    <script src="/javascripts/angular/angular.min.js"></script>
  </body>
  
  <!--<script src="/javascripts/client.js"></script>-->
   
</html>
