<h2>{{title}}</h2>
<ngb-tabset>
    <ngb-tab title="Accounts">
        <template ngbTabContent>
            <p>Ide jon majd valami</p>
        </template>
    </ngb-tab>
    <ngb-tab>
        <template ngbTabTitle><b>Fancy</b> title</template>
        <template ngbTabContent><p>Meg ide is jon valami</p>
        </template>
    </ngb-tab>
</ngb-tabset>


<h3>
    <b>{{portfolio.name}}</b>
</h3>

<div *ngIf="portfolio">
    <my-portfolio [portfolio]="portfolio"></my-portfolio>
</div>

<div id="footer" *ngIf="quote">
    <my-quote [quote]="quote"></my-quote>
    <br>
</div>
