<h2>{{title}}</h2>
<ngb-tabset>
    <ngb-tab title="Accounts">
        <template ngbTabContent>
            <p>Account editor</p>
        </template>
    </ngb-tab>
    <ngb-tab>
        <template ngbTabTitle><b><b>{{portfolio.name}}</b></b></template>
        <template ngbTabContent>
            <div *ngIf="portfolio">
                <my-portfolio [portfolio]="portfolio"></my-portfolio>
            </div>
        </template>
    </ngb-tab>

    <ngb-tab title="account types">
        <template ngbTabContent>
            <li *ngFor="let type of accounttypes">
                {{ type.name}}
            </li>

        </template>
    </ngb-tab>

</ngb-tabset>

<div></div>
<div class="navbar navbar-fixed-bottom" id="footer" *ngIf="quote">
    <my-quote [quote]="quote"></my-quote>
    <br>
</div>
